<div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form action="../app/views/thankyou" method="POST">
              <p>
                  <label class="col-6 col-md-auto">Firstname:</label>
                  <input type="text" name="username">
              </p>
              <p>
                  <label class="col-6 col-md-auto">Lastname:</label>
                  <input type="text" name="username">
              </p>
              <p>
                  <label class="col-6 col-md-auto">e-mail:</label>
                  <input type="email" name="username">
              </p>
              <p>
                   <label class="mr-sm-2" >Preference</label>
                   <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="CustomSelect">
                      <option selected>Choose...</option>
                      <option value="1">English</option>
                      <option value="2">French</option>
                      <option value="3">Other</option>
                   </select>
              </p>
              <p>
                  <textarea class="form-control" placeholder="Respond to your comment in 24hrs">Password:</label>
              </p>
          
              <p>
                  <input class ="form-control btn btn-primary" type="submit" value="login" name="loginEnter">
              </p>
          </form>
        </div>
  
      </div>

<form class="form-inline">


        
      
        <label class="bcustom-control custom-checkbox mb-2 mr-sm-2 mb-sm-0">
          <input type="checkbox" class="custom-control-input">
          <span class="custom-control-indicator"></span>
          <span class="custom-control-description">Remember my preference</span>
        </label>
      
        <button type="submit" class="btn btn-primary">Submit</button>
</form>