<div class="row justify-content-md-center">
        <div class="col-md-auto">
            <form action="../app/views/thankyou" method="POST">
              <p>
                  <label class="col-6 col-md-auto">Firstname:</label>
                  <input type="text" name="f_name">
              </p>
              <p>
                  <label class="col-6 col-md-auto">Lastname:</label>
                  <input type="text" name="l_name">
              </p>
              <p>
                  <label class="col-6 col-md-auto">e-mail:</label>
                  <input type="email" name="username">
              </p>
              <p>
                   <label class="mr-sm-2" >Language</label>
                   <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="CustomSelect">
                      <option selected>Choose...</option>
                      <option value="1">English</option>
                      <option value="2">French</option>
                      <option value="3">Other</option>
                   </select>
              </p>
              <p>
                      <label class="form-group row" for="comment"> Comment</label>
                      <textarea class ="form-control" rows="5" id="comment"></textarea>
              </p>
          
              <p>
                  <input class ="form-control btn btn-primary" type="submit" value="Submit" name="submitFeedback">
              </p>
          </form>
        </div>
  
      </div>

